
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
			height: 100%;
			width: 100% !important;
			padding: 0px !important;
			margin: 0px !important;
			overflow: hidden;
			background-color: #444;
		}

a{color: #FFF !important;}


		#sphereViewSetting{
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			padding: 0px;
			overflow: hidden;
			position: absolute;
			top:0px;
			right:0px;
			color:#CCC;
		}

		.rightRole,.leftRole{
			padding: 0px;
			height: 100%;
		}

		/*
		.leftRole{
			width: 100% !important;
			transition: width 0.8s ease-in-out;
		}*/


		.settingItem{
			padding-top: 12px;
			padding-left: 40px;
			height: 45px;
			/*border-top: 1px solid #777;*/
			cursor: pointer;
			background-size: 32px 32px;
			background-position: left center;
			background-repeat: no-repeat;
			transition:background-color 0.15s ease-in-out;
		}
		.settingItem:hover{
			background-color: rgba(255,255,255,0.25);
		}


		.settingToggel{
			cursor: default;
		}
		.settingToggel:hover{
			background-color: transparent;
		}

		.switchBox{
			height: 45px;
			padding: 0px;
			padding-top: 12px;
		}

		#DevConsoleBox{
			height: 320px;
		}

		#HardWareInfo{
			background-color: #2A2A2A;
			height: 100%;
		}

		.closeBnt{
			height: 48px;
			width: 48px;
			cursor: pointer;
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 999;
			background-size: 62%;
			opacity: 0.5;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../img/closeSigh.svg");
			transition:opacity 0.2s ease-in-out;
		}
		.closeBnt:hover{
			opacity: 1;
		}

		.panelName{
			border-bottom: solid 1px #444;
			height:48px;
			padding-top: 16px;
			margin-top: 0px;
		}


		#settingContent{
			position: absolute;
			/*height: 0px;*/
			height: 100%;
			width: 100%;
			overflow-x:hidden;
			overflow-y:scroll;
			z-index: 8;
		}

		#settingDetail{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 9;
			background-color: #333;
			box-shadow: -3px 0px 6px rgba(0,0,0,0.75);
			transition:transform 0.6s ease-in-out;
			transform:translateX(103%);
		}

		#settingDetailClose{
			background-image: url("../img/backSigh.svg");
		}

		#phoneBatToggel{
			background-image: url("../img/phone_bat_icon.svg");
		}

		#reverseViewToggel{
			background-image: url("../img/reverse_view_icon.svg");
		}

		#videoAugToggel{
			background-image: url("../img/video_aug_icon.svg");
		}

		#vrModeToggel{
			background-image: url("../img/vr_mode_icon.svg");
		}

		#keyInputToggel{
			background-image: url("../img/key_input_icon.svg");
		}

		#learningToggel{
			background-image: url("../img/Learning_icon.svg");
		}

		#cameraHeight{
			background-image: url("../img/camera_height_icon.svg")
		}

		#autoDock{
			background-image: url("../img/auto_dock_icon.svg");
		}

		#rebootBluno{
			background-image: url("../img/reboot_bluno_icon.svg");
		}

		#rebootPhone{
			background-image: url("../img/reboot_phone_icon.svg");
		}

		#aboutTeleroomba{
			background-image: url("../img/about_teler_icon.svg");
		}

		#detailDynamic{
			width: 100%;
			height: 100%;
		}

		/****** HUD_Interface*****/

	#credentials{
      border-bottom: solid 1px #444;
      color: #FFF;
    }

    .peerIdInput{
      background-color: transparent;
      text-align: left;
      width: 100%;
      font-size: 16px;
      height: 20px;
      margin-top: 15px;
      padding: 6px 4% 6px 4%;
      border: none;
      color: #FFF;
      border-bottom: solid 1px #666;
    }

    button{
      margin-top:10px;
      height: 28px;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: #7094DC;
      font-size: 14px;
      color: #FFF;
      position: relative;
      bottom: 0px;
    }
	  

    .bnt{
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      opacity: 0.4;
      height: 35px;
      width: 35px;
      z-index: 999;
      left: 2px;
      top: 0px;
    }

    #BLEStatus{
      background-image: url("../img/ble.png");
      background-size: 85%;
      top:0px;
      left: 0px;
    }

    #setting{
      background-image: url("../img/setting.png");
      background-color: #FF9900;
      background-size: 72%;
      left:37px;
    }

    @media (max-width: 480px) {
    	
    #setting{
      top:37px;
      left: 0px;
    }

	}


    #messages{
      text-align: left;
      width: 100%;
      height: 100%;
      overflow: scroll;
    }


    .BLEOn{
      background-color: #05D060;
    }

    .BLEOff{
      background-color: #888;
    }

    .BLEBlinking{
      animation-name: BLEBlink;
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
    }

    @keyframes BLEBlink {
    0%   {background-color: #888;}
    50%  {background-color: #05D060;}
    100% {background-color: #888;}
    }

    #HUD{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 70%;
      width: 100%;
      /*background-color: rgba(255,150,20,0.5);*/
      z-index: 59;
      color:rgba(50,155,60,0.5);
      overflow: hidden;
    }

    #touchLayer{
      /*display: none;*/
      width: 100%;
      height: 70%;
      position: absolute !important;
      top: 0px;
      left: 0px;
      z-index: 159;
      margin: 0px;
      /*cursor: pointer;*/
      /*background-color: rgba(255,150,20,0.2);*/
    }

    .dynamicContent{
    	display: none;
    }

    #PersSettingBox{
      margin: auto;
      height:240px;
      width:64px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
      background-image: url("../img/PersSetBottom.svg");
      /*display: none;*/
    }