
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
			height: 100%;
			width: 100% !important;
			padding: 0px !important;
			margin: 0px !important;
			overflow: hidden;
			background-color: #444;
		}

a{color: #FFF !important;}


		#sphereViewSetting{
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			padding: 0px;
			overflow: hidden;
			position: absolute;
			top:0px;
			right:0px;
			color:#CCC;
			transform: translateX(100%);
			transition: transform 0.5s ease-in-out;
		}


		.settingItem{
			padding-top: 12px;
			padding-left: 40px;
			height: 45px;
			/*border-top: 1px solid #777;*/
			cursor: pointer;
			background-size: 32px 32px;
			background-position: left center;
			background-repeat: no-repeat;
			transition:background-color 0.15s ease-in-out;
		}
		.settingItem:hover{
			background-color: rgba(255,255,255,0.25);
		}


		.settingToggel{
			cursor: default;
		}
		.settingToggel:hover{
			background-color: transparent;
		}

		.switchBox{
			height: 45px;
			padding: 0px;
			padding-top: 12px;
		}

		#DevConsoleBox{
			height: 320px;
		}

		#HardWareInfo{
			background-color: #2A2A2A;
			height: 100%;
		}

		.closeBnt{
			height: 48px;
			width: 48px;
			cursor: pointer;
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 999;
			background-size: 62%;
			opacity: 0.5;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../img/closeSigh.svg");
			transition:opacity 0.2s ease-in-out;
		}
		.closeBnt:hover{
			opacity: 1;
		}

		.panelName{
			border-bottom: solid 1px #444;
			height:48px;
			padding-top: 16px;
			margin-top: 0px;
		}


		#settingContent{
			position: absolute;
			/*height: 0px;*/
			height: 100%;
			width: 100%;
			overflow-x:hidden;
			overflow-y:scroll;
			z-index: 8;
		}

		#settingDetail{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 9;
			background-color: #333;
			box-shadow: -3px 0px 6px rgba(0,0,0,0.75);
			transition:transform 0.6s ease-in-out;
			transform:translateX(103%);
		}

		#settingDetailClose{
			background-image: url("../img/backSigh.svg");
		}

		#vrModeToggel{
			background-image: url("../img/vr_mode_icon.svg");
		}

		#keyInputToggel{
			background-image: url("../img/key_input_icon.svg");
		}

		#autoDock{
			background-image: url("../img/auto_dock_icon.svg");
		}

		#rebootBluno{
			background-image: url("../img/reboot_bluno_icon.svg");
		}

		/****** HUD_Interface*****/

	#credentials{
      border-bottom: solid 1px #444;
      color: #FFF;
    }

    .peerIdInput{
      background-color: transparent;
      text-align: left;
      width: 100%;
      font-size: 16px;
      height: 20px;
      margin-top: 15px;
      padding: 6px 4% 6px 4%;
      border: none;
      color: #FFF;
      border-bottom: solid 1px #666;
    }

    button{
      margin-top:10px;
      height: 28px;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: #7094DC;
      font-size: 14px;
      color: #FFF;
      position: relative;
      bottom: 0px;
    }
	  

    .bnt{
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      opacity: 0.4;
      height: 35px;
      width: 35px;
      z-index: 999;
      left: 2px;
      top: 0px;
    }

    #setting{
      background-image: url("../img/setting.png");
      background-color: #FF9900;
      background-size: 72%;
      left:40px;
    }

    #stitch{
      background-image: url("../img/360.svg");
      background-color: #00EE88;
      background-size: 72%;
      left:0px;
    }

    #stitchHelper{
		position :fixed;
		top : 12%;
		left : 5px; 
		background-color:rgba(0,0,0,0.5);
		width : 280px;
		border-radius: 5px;
		padding: 10px;
		color: #FFF;
		text-shadow:1px 1px 2px rgba(0,0,0,0.4);
		transition: transform 0.75s ease-in-out;
		overflow-y: scroll;
		height: 72%;
		min-height: 320px;
	}

	#stitchHelpClose{
		position: absolute;
		left: auto;
		right: 0px !important;
	}

	#stitchHelper h4{
		font-weight: normal;
		text-align: center;
	}

	#stitchTypeBox{
		width: 120px;
		height: 120px;
		margin: auto;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		border: solid 1px #CCC;
		background-size: 100% 100%;
		background-image: url("../img/stitchTypeBox.svg");
		transition: transform 0.75s ease-in-out;
	}

	#demoSphere{
		position: relative;
		height: 70%;
		width: 70%;
		background-color: rgba(255,170,0,0.5);
		/*background-color: rgba(170,255,0,0.5);*/
		top:15%;
		margin: auto;
		border-radius: 50%;
		animation-duration: 2s;
      	animation-iteration-count: infinite;
      	transition: background-color 0.75s;
	}

	.demoStatusNone{
		animation-name: none;
	}

	.demoStatusStretchV{
		animation-name: StretchV;
	}

	.demoStatusStretchU{
		animation-name: StretchU;
	}

	.demoStatusDriftV{
		animation-name: DriftV;
	}

	.demoStatusDriftU{
		animation-name: DriftU;
	}

	.stitchTypes{
		background-position: center;
		background-repeat: no-repeat;
	}

	#sphereASettings b{
		color:#FF9900;
	}

	#sphereBSettings b{
		color:#99FF00;
	}

	.stitchValDis{
		color:#CCC;
	}

	#stitchHelper input{
		margin: 2px auto 0px auto;
		width: 100%;
		cursor: pointer;
	}

	@keyframes DriftV {
	    0%   {transform: translateY(0%);}
	    25%  {transform: translateY(8%);}
	    75%  {transform: translateY(-8%);}
	    0%   {transform: translateY(0%);}
    }

    @keyframes StretchV {
	    0%   {transform: scaleY(1);}
	    25%  {transform: scaleY(1.2);}
	    75%  {transform: scaleY(0.8);}
	    0%   {transform: scaleY(1);}
    }

    @keyframes DriftU {
	    0%   {transform: translateX(0%);}
	    25%  {transform: translateX(8%);}
	    75%  {transform: translateX(-8%);}
	    0%   {transform: translateX(0%);}
    }

    @keyframes StretchU {
	    0%   {transform: scaleX(1);}
	    25%  {transform: scaleX(1.2);}
	    75%  {transform: scaleX(0.8);}
	    0%   {transform: scaleX(1);}
    }

#offAngleBox{
	position: fixed;
	top: auto;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.25);
	width:100px;
	color: #FFF;
	font-size: 10px;
}

#offAngleBox p{
	line-height: 20px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

.offAngle{

}

#resetCam{
	background-color: rgba(0,255,200,0.25);
	cursor: pointer;
}
#resetCam:hover{
	opacity: 0.75;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: #444;
  margin: 6px 0px 6px 0px;
}


input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #CCC;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-top: -5px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
}

