body {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-align: center;
    color:#444;
    background-color: #7A7A7A;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
                        /* offset horizontal: half of image width and text area width */
    }
}

#tempSlider{
    width: 80%;
    position: absolute;
    margin: auto;
    top: 26%;
    background-color: #FFF;
    right: 0px;
    left: 0px;
}

.choice{
    position: absolute;
    width: 24%;
    height: 0px;
    padding-top:24%;
    border-radius: 23%;
    font-size: 6em;
    line-height: 0px;
    border: solid 1px #AAA;
    background-size: 103%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 2px;
    margin-right: 2px;
    top:22%;
    overflow: hidden;

}

#sunny{
    background-image: url('../img/sunIcon.svg');
    left: 8%;
}
#cloudy{
    background-image: url('../img/cloudIcon.svg');
    left: 38%;
}
#rainy{
    background-image: url('../img/rainIcon.svg');
    left: 68%;
}

.colorTemp{
    width: 18%;
    height: 0px;
    padding-top:18%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    position: absolute;
    top: 55%;
    border-radius: 5px;
}

#red{
    left: 1%;
    background-color: red;
}
#orange{
    left: 21%;
    background-color: orange;
}
#white{
    left: 41%;
    background-color: white;
}
#green{
    left: 61%;
    background-color: green;
}
#blue{
    left: 81%;
    background-color: blue;
}

#reset{
    position: absolute;
    left: 0px;
    right:0px;
    width: 80%;
    top: auto;
    bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: auto;
    background-color: #EEE;
    z-index: 999;
}

.button{
    width: 100%;
    height: 30px;
    padding-top: 5px;
    color: #FFF;
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0.6;
}


#loadingPanel{
    position: absolute;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 107;
    -webkit-transition: all 1.5s ease-in-out;
    //visibility: hidden;
}

#loadingTitle{
    opacity: 0;
    -webkit-transition: opacity 1.2s ease-in-out;
}

.loading{
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 45%;
    height: 0px;
    padding-bottom: 45%;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 200px;
    max-width: 200px;
}

#loadingBoxTop{
    -webkit-transform:scale(0);
    z-index: 112;
    background-image: url(../img/loading_wave.svg);
    -webkit-transition: all 1s ease-in-out;
}

#loadingBox{
    z-index: 111;
    background-image: url(../img/loading_unplug.svg);
    -webkit-transition: all 1.2s cubic-bezier(0, 1.2, 1, 1.2); 
}

#loadingBox2{
    z-index: 110;
    background-image: url(../img/loading_plug.svg);
    -webkit-transition: all 1.2s cubic-bezier(0, 1.2, 1, 1.2);
    opacity: 0;
}

#loadingBoxBottom{
    -webkit-transform:scale(0);
    z-index: 109;
    opacity: 0;
    background-image: url(../img/loading_base1.svg);
    -webkit-transition: all 0.8s ease-in-out;
}

#loadingBoxBase{
    -webkit-transform:scale(0);
    z-index: 108;
    opacity: 0;
    background-image: url(../img/loading_base2.svg);
    -webkit-transition: all 0.4s ease-in-out;
}

#loadingStatus{
position: absolute;
margin: auto;
top:66%;
left: 0px;
right: 0px;
font-size: 1em;
color: #AAA;
z-index: 999;
}


/*********************For_Developers******************/
#developer{
    /*display: none;*/
    position: fixed;
    width: 32%;
    left: auto;
    top: auto;
    right: 0px;
    bottom: -110px;
    z-index: 1000;
    font-size: 0.75em;
    -webkit-transition: all 0.5s ease-in-out;
}

#developerTool{
    color: #DDD;
    height: 40px;
    padding-top: 10px;
}

#leftVShow{
    background-color: #FF9900;
}

#rightVShow{
    background-color: #FFCC00;
}



