
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
			height: 100%;
			width: 100% !important;
			padding: 0px !important;
			margin: 0px !important;
			overflow: hidden;
			background-color: #121212;
			background-image: url("../img/grid.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}


		#sphereViewSetting{
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			padding: 0px;
			overflow: hidden;
			position: absolute;
			top:0px;
			right:0px;
			color:#CCC;
			transform: translateX(100%);
			transition: transform 0.5s ease-in-out;
		}


		.switchBox{
			height: 20px;
			padding: 10px;
		}


		.closeBnt{
			height: 48px;
			width: 48px;
			cursor: pointer;
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 999;
			background-size: 62%;
			opacity: 0.5;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../img/closeSigh.svg");
			transition:opacity 0.2s ease-in-out;
		}
		.closeBnt:hover{
			opacity: 1;
		}

		/****** HUD_Interface*****/

	#credentials{
      border-bottom: solid 1px #444;
      color: #FFF;
    } 

    .bnt{
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      opacity: 0.4;
      height: 35px;
      width: 35px;
      z-index: 999;
      left: 2px;
      top: 0px;
    }

    #stitch{
      background-image: url("../img/360.svg");
      background-color: #00EE88;
      background-size: 72%;
      left:0px;
    }

    #stitchHelper{
		position :fixed;
		top : 40px;
		left : 5px; 
		background-color:rgba(0,0,0,0.5);
		width : 280px;
		border-radius: 5px;
		padding: 10px;
		color: #FFF;
		text-shadow:1px 1px 2px rgba(0,0,0,0.4);
		transform: translateX(-110%);
		transition: transform 0.75s ease-in-out;
		overflow-y: scroll;
		height: 72%;
		min-height: 320px;
	}

	#stitchHelpClose{
		position: absolute;
		left: auto;
		right: 0px !important;
	}

	#stitchHelper h4{
		font-weight: normal;
		text-align: center;
	}

	#stitchTypeBox{
		width: 120px;
		height: 120px;
		margin: auto;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		border: solid 1px #CCC;
		background-size: 100% 100%;
		background-image: url("../img/stitchTypeBox.svg");
		margin-bottom: 10px;
		transition: transform 0.75s ease-in-out;
	}

	#demoSphere{
		position: relative;
		height: 70%;
		width: 70%;
		background-color: rgba(255,170,0,0.5);
		top:15%;
		margin: auto;
		border-radius: 50%;
		animation-duration: 2s;
      	animation-iteration-count: infinite;
      	transition: background-color 0.75s;
	}

	.demoStatusNone{
		animation-name: none;
	}

	.demoStatusStretchV{
		animation-name: StretchV;
	}

	.demoStatusStretchU{
		animation-name: StretchU;
	}

	.demoStatusDriftV{
		animation-name: DriftV;
	}

	.demoStatusDriftU{
		animation-name: DriftU;
	}

	.stitchTypes{
		background-position: center;
		background-repeat: no-repeat;
	}

	#sphereASettings b{
		color:#FF9900;
	}

	#sphereBSettings b{
		color:#99FF00;
	}

	.stitchValDis{
		color:#CCC;
	}

	#stitchHelper input{
		margin: 2px auto 0px auto;
		width: 100%;
		cursor: pointer;
	}

	@keyframes DriftV {
	    0%   {transform: translateY(0%);}
	    25%  {transform: translateY(8%);}
	    75%  {transform: translateY(-8%);}
	    0%   {transform: translateY(0%);}
    }

    @keyframes StretchV {
	    0%   {transform: scaleY(1);}
	    25%  {transform: scaleY(1.2);}
	    75%  {transform: scaleY(0.8);}
	    0%   {transform: scaleY(1);}
    }

    @keyframes DriftU {
	    0%   {transform: translateX(0%);}
	    25%  {transform: translateX(8%);}
	    75%  {transform: translateX(-8%);}
	    0%   {transform: translateX(0%);}
    }

    @keyframes StretchU {
	    0%   {transform: scaleX(1);}
	    25%  {transform: scaleX(1.2);}
	    75%  {transform: scaleX(0.8);}
	    0%   {transform: scaleX(1);}
    }

#offAngleBox{
	position: fixed;
	top: auto;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.25);
	width:100px;
	color: #FFF;
	font-size: 10px;
}

#offAngleBox p{
	line-height: 20px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

.offAngle{

}

#vrModeToggel{
	background-color: rgba(0,205,250,0.25);
	cursor: pointer;
}

#resetCam{
	background-color: rgba(0,255,200,0.25);
	cursor: pointer;
}
#resetCam:hover{
	opacity: 0.75;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: #444;
  margin: 6px 0px 6px 0px;
}


input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #CCC;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-top: -5px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
}

#portChoice{
	width: 100%;
	margin: 15px 0px 15px 0px;
}

#streamPort{
	background-color: rgba(255,255,255,0.1);
	min-width: 80px;
	text-align: center;
	border-radius: 0px;
	border: none;
}

